@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,700&display=swap');

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.navbar-plateccs {
  background-color: #fff;
  border-radius: 40px;
  top: 20px;
  padding: 20px 25px;
  position: relative;
}

.logo-brand img {
  max-width: 150px;
  margin-top: -10px;
}

.ico-linkedin {
  margin-top: -5px;
}

#navbarText a {
  font-size: 14px;
  text-transform: uppercase;
  text-underline-offset: 8px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #0157F8;
  text-decoration: underline;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.row-banner {
  height: 100%;
  align-items: center;
}

.section-banner {
  background: rgb(7, 79, 195);
  background: linear-gradient(90deg, rgba(7, 79, 195, 1) 35%, rgba(5, 100, 255, 1) 100%);
}

.section-banner p {
  line-height: 1.2;
  font-size: clamp(1.5rem, 0.45rem + 2.75vw, 3.75rem);
}

.banner-image {
  padding-top: 100px
}

.navbar-collapse {
  flex-grow: 0;
}

.nav-item {
  padding-right: 15px;
}

.navbar-icon {
  color: #0a66c2;
  font-size: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

#carouselExampleIndicators .carousel-indicators [data-bs-target] {
  width: 13px;
  height: 13px;
  padding: 0;
  margin-right: 7px;
  margin-left: 7px;
  border-radius: 50%;
}

#carouselExampleIndicators .carousel-indicators .active {
  opacity: 1;
  background-color: greenyellow;
}

.title-green {
  color: #00FFAA !important;
}

#carouselExampleIndicators .carousel-inner {
  padding-top: 100px;
  color: white;
  font-size: 30px;
}

.section-content {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-black {
  background-color: #000;
  color: white;
}

.section-blue {
  background-color: #0157F8;
  color: white;
}

.section-white {
  color: #0157F8;
}

.section-black .content-section b,
.section-black .content-section strong {
  color: #00FFAA;
}

#claves-informacion .content-section b,
#claves-informacion .content-section strong {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.green-card {
  background-color: #00FFAA;
  padding: 25px 20px;
  border-radius: 5px;
  margin-bottom: -150px;
  z-index: 9;
  position: relative;
}

.bg-white {
  background-color: #fff !important;
}

.bg-green {
  background-color: #00FFAA !important;
}

.bg-gray {
  background-color: #d1d1d136 !important;
}

.card,
.card-header,
.card-footer {
  --bs-card-bg: transparent;
  background-color: transparent;
  border: none;
}

.card-header {
  border-bottom: none;
}

.card-body p {
  line-height: 1rem;
  margin-bottom: 0;
}

.card-title {
  color: #0157F8;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.card-subtitle {
  color: #0157F8;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.btn-plateccs {
  color: #fff;
  background-color: #000;
  padding: 10px 30px 10px 15px;
  border-radius: 5px;
  font-size: clamp(0.6875rem, 0.6rem + 0.4375vw, 1.125rem);
  cursor: pointer;
  border: none;
}

.btn-blue {
  background-color: #0157F8;
}

.btn-arrow {
  padding: 10px 15px 10px 15px;
}

.carousel-item .btn-plateccs {
  font-size: clamp(1rem, 0.45rem + 2.75vw, 1.3rem);
}

.section-title {
  font-size: clamp(1.125rem, 0.7875rem + 1.6875vw, 2.8125rem);
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.bg-text {
  background-color: #0157F8;
  padding: 0 10px;
}

#maxima-seguridad .card {
  padding: 30px 30px;
  max-height: 180px;
  align-items: center;
  justify-content: center;
}

#maxima-seguridad .title-green {
  line-height: 3.5rem;
  font-size: 40px;
}

footer {
  background-color: #000;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 50px;
  font-size: 15px;
}

.footer-title {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #0157F8;
}

.menu-list li {
  padding-bottom: 15px;
}

.border-r {
  border-right: 1px solid #fff;
}

.section-top-page {
  height: 100%;
  min-height: 400px;
}

.subtitle-top-page {
  color: #fff;
}

.subtitle-top-page b,
.subtitle-top-page strong {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

#claves-informacion .card {
  width: 300px;
  padding: 20px 5px 10px 5px;
}

.card.bg-gray {
  min-height: 350px;
}

#elige-servicio {
  padding-bottom: 300px;
}

.row-card-servicios {
  margin-top: -300px;
}

.col-left-single {
  padding: 100px 80px;
}

.card-single-solucion {
  width: 300px;
  padding: 20px 5px 10px 5px;
  background-color: #D1D1D1;
  min-height: 250px;
}

.card-single-solucion .card-subtitle {
  font-size: 1.2rem;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 1rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 25px;
  color: #0157F8;
}

.swiper-container {
  position: relative;
  margin: 0 auto;
}

.swiper-container .swiper-button-prev {
  left: -40px;
}

.swiper-container .swiper-button-next {
  right: -40px;
}

.swiper-container .swiper-pagination {
  bottom: -40px !important;
}

.sample-slider img {
  width: 100%;
}

.avatar-testimonial {
  max-width: 80%;
}

.title-card-blog {
  font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
  line-height: 1.2;
}

.card-blog p {
  line-height: 1.2;
  color: #0157F8;
}

.card-blog-single .card-text {
  margin-bottom: 1rem;
  text-align: justify;
}

/* .form-floating>.form-control,
.form-floating>.form-control-plaintext {
  padding: 2rem 0.75rem;
} */

iframe {
  border-radius: 20px;
}

@media screen and (max-width:991px) {
  #navbarText {
    padding: 10px;
  }

  .border-r {
    border: none;
  }
}

@media screen and (max-width:768px) {
  .btn-large img {
    max-width: 8%;
  }

  #carouselExampleIndicators .carousel-inner {
    padding-top: 140px;
  }

  .banner-image {
    padding-top: 0;
  }
}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 380px) {}